<nav class="navbar navbar-dark navbar-expand-lg  bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" *ngIf="isAppManager()">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Abcenses" >Abcenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Students">Students</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/Teachers">Teachers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

    </div>


    <div class="btn-group" *ngIf="key.kc.authenticated">
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        {{name.preferred_username}}
      </button>
      <ul class="dropdown-menu  dropdown-menu-lg-end">
        <a class="btn dropdown-item clickable"  (click)="onLogout()">Logout</a>
        <a class="dropdown-item clickable " (click)="onChangePassword()" >Change Password</a>

      </ul>
    </div>
    <div class="btn-group" *ngIf="!key.kc.authenticated">
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        login
      </button>
      <ul class="dropdown-menu  dropdown-menu-lg-end">
        <a class="btn dropdown-item" (click)="onLogin()">Log in</a>

      </ul>
    </div>

  </div>
</nav>
